/* 
    Created on : 20 février 2020
    Author     : Franck J.
*/
.avatar-circle {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}